* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.discount_Title {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 600;
  background-image: linear-gradient(45deg, #4158d0, #c850c0);
  background-clip: text;
  color: transparent;
}

.search_box {
  width: 44vb;
  background: #fff;
  border-radius: 5px;
}

.result-box > ul {
  /* border-top: 1px solid #999; */
  padding: 0px 10px;
}

.result-box > ul > li {
  list-style-type: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box > ul > li:hover {
  background-color: #e9f3ff;
}

.search_Bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  height: 35px;
  width: 40vb;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 10px;
  border: 0.5px solid black;
}

.glass {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: navy;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-content: center;
  padding-left: 8px;
}

.glass:hover {
  cursor: pointer;
}

main {
  /* margin-top: 50px; */
}

.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  column-gap: 120px;
  row-gap: 25px;
}

.card {
  width: 300px;
  height: 270px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card:hover {
  cursor: pointer;
}

.pic {
  height: 200px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba((0, 0, 0, 0.2), green, blue, alpha);
}

a {
  text-decoration: none;
  color: black;
}

/* image slider */

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
